@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Railway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Railway', sans-serif;
}

.about-content img {
    height: 400px;
}

.brand-logo {
    height: 3rem;
}

.h-500 {
    height: 500px;
}